<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tiburela.qsercom">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="s">
        <activity
            android:name=".PdfMaker.PdfMaker2_0"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Canvas.CanvasActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.formularios.ActivityControlCalidad"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".testDELETE.Selector"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".testDELETE.Test2"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.formulariosPrev.FormularioControlCalidadPreview"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.formulariosPrev.PreviewCalidadCamionesyCarretas"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formulariosPrev.CuadMuestreoCalibAndRechazPrev"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formularios.ActivityReporteCalidadCamionesyCarretas"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formularios.ActivityPackingList"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formularios.ActivityCuadMuestCalibAndRechaz"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.ActivitySeeReports"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formulariosPrev.PackingListPreviewActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formulariosPrev.PreviewsFormDatSContersEnAc"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formulariosPrev.ActivityContenedoresPrev"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.ActivityMenu"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.othersActivits.PieChartActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.CharActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.PdfPreviewActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formularios.ActivityDatosContersEnAcopio"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.formularios.ActivityContenedores"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen.SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.ActivityGoogleDrive"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.MainActivity2"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.othersActivits.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>